@page
@model RazorPagesPizza.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.IsGlutenFree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.IsGlutenFree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizza.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizza.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pizza?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
